/*********************
BREAKPOINTS
*********************/
/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
body {
  color: #3A3A3A;
  font-family: helvetica, arial, sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 10px !important;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased; }

/* line 10, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: times-new-roman, times;
  font-size: 1em;
  line-height: 1.25;
  margin: 0 0 0.625em;
  font-weight: 400; }

/* line 22, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
header h1 {
  text-transform: uppercase;
  padding-right: 1rem;
  padding-left: 1rem; }

/* line 26, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
h1 {
  margin-bottom: 0;
  font-size: 3.8em; }

/* line 30, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
h2 {
  font-size: 2.6em; }

/* line 33, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
h3 {
  font-size: 2em;
  font-weight: 600; }

/* line 37, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
h4 {
  font-size: 1.8em; }

/* line 40, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
h5 {
  font-size: 1.5em; }

/* line 44, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
h6 {
  font-size: 1.5em;
  font-weight: 600; }

/* line 48, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
p, li {
  font-size: 1.4em;
  margin: 0 0 0.625em;
  line-height: 1.75em; }
  /* line 52, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
  p li, li li {
    font-size: 1em; }

/* line 56, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
ul, ol {
  list-style: outside square;
  padding-left: 3em; }
  /* line 59, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
  ul ul, ul ol, ol ul, ol ol {
    list-style: outside disc; }
    /* line 61, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
    ul ul ul, ul ul ol, ul ol ul, ul ol ol, ol ul ul, ol ul ol, ol ol ul, ol ol ol {
      list-style: outside circle; }

/* line 67, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
ol {
  list-style-type: decimal; }
  /* line 69, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
  ol ol {
    list-style-type: lower-alpha; }
    /* line 71, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
    ol ol ol {
      list-style-type: lower-roman; }

/* line 76, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
a {
  color: #3A3A3A;
  text-decoration: none;
  border-bottom: 1px dotted #3A3A3A; }
  /* line 80, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
  a:active, a:focus, a:hover {
    color: #101010;
    border-bottom: 1px dotted #f7c200; }

/* line 89, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #C3C3C3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1rem 0;
  clear: both; }

/* line 98, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
table {
  margin: 1rem 0;
  border: 1px solid #3A3A3A; }
  /* line 101, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
  table th {
    padding: 0.5rem 0.5rem;
    background-color: #C3C3C3;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid #C3C3C3; }
  /* line 108, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
  table td {
    padding: 0.5rem 0.5rem;
    font-size: 1.4em;
    border: 1px solid #C3C3C3; }

/* line 114, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
strong {
  font-weight: 700; }

/* line 117, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
:focus {
  outline-color: #f7c200; }

/* line 120, Users/dvauser/Sites/themes/deanne_calisthenics/sass/base/_typography.scss */
.lower {
  text-transform: lowercase; }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_body.scss */
body {
  margin: 0;
  padding: 0; }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_page.scss */
.l-page {
  width: 100%; }

/* line 4, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_page.scss */
.element-invisible {
  top: 0;
  right: 0; }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
.l-header {
  width: 100%;
  text-align: center; }
  /* line 4, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
  .l-header a {
    text-decoration: none; }
  /* line 8, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
  .l-header .header-wrapper {
    background: #3A3A3A; }
    /* line 10, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
    .l-header .header-wrapper .l-region--header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 100%; }
    /* line 17, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
    .l-header .header-wrapper .header-menu {
      padding: 0.5rem 0; }
      /* line 19, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
      .l-header .header-wrapper .header-menu a {
        color: #C3C3C3; }
        /* line 21, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
        .l-header .header-wrapper .header-menu a:hover, .l-header .header-wrapper .header-menu a:focus {
          border-bottom: 1px dotted #C3C3C3; }
      /* line 25, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
      .l-header .header-wrapper .header-menu ul {
        text-align: center;
        margin: 0;
        padding: 0; }
        /* line 29, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
        .l-header .header-wrapper .header-menu ul li {
          list-style-type: none;
          list-style-image: none;
          display: inline; }
          /* line 36, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
          .l-header .header-wrapper .header-menu ul li:after {
            content: '\000B7';
            color: #505050;
            padding: 0 0.5rem; }
          /* line 41, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
          .l-header .header-wrapper .header-menu ul li.last:after {
            content: '';
            padding: 0; }

@media (min-width: 768px) {
  /* line 53, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
  .l-header .header-wrapper {
    padding: 0 1rem; }
    /* line 55, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
    .l-header .header-wrapper .header {
      max-width: 960px;
      margin: 0 auto; }
      /* line 58, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_header.scss */
      .l-header .header-wrapper .header .l-region--header {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center; } }

/* line 3, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
.search {
  margin: 0 auto; }
  /* line 6, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
  .search .container-inline div {
    display: block !important; }
  /* line 9, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
  .search .search-block-form {
    margin: 0;
    padding: 0.8em 0 0 0; }
    /* line 12, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form > div {
      width: 100%; }
    /* line 15, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form * {
      height: 35px; }
    /* line 20, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form .container-inline div {
      display: inline-block !important; }
    /* line 25, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form .container-inline .form-item input,
    .search .search-block-form .container-inline .form-item input.form-submit,
    .search .search-block-form .container-inline .form-actions input,
    .search .search-block-form .container-inline .form-actions input.form-submit {
      border-radius: 0;
      border: none;
      color: #C3C3C3;
      height: 100%;
      line-height: 35px;
      padding: 0; }
    /* line 34, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form .container-inline .form-item .form-search,
    .search .search-block-form .container-inline .form-actions .form-search {
      height: 35px;
      font-size: 12px;
      line-height: 100%; }
      /* line 38, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
      .search .search-block-form .container-inline .form-item .form-search::-webkit-input-placeholder,
      .search .search-block-form .container-inline .form-actions .form-search::-webkit-input-placeholder {
        font-size: 14px; }
      /* line 41, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
      .search .search-block-form .container-inline .form-item .form-search:-moz-placeholder,
      .search .search-block-form .container-inline .form-actions .form-search:-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px; }
      /* line 44, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
      .search .search-block-form .container-inline .form-item .form-search::-moz-placeholder,
      .search .search-block-form .container-inline .form-actions .form-search::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px; }
      /* line 47, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
      .search .search-block-form .container-inline .form-item .form-search:-ms-input-placeholder,
      .search .search-block-form .container-inline .form-actions .form-search:-ms-input-placeholder {
        font-size: 14px; }
    /* line 53, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form .container-inline .form-item input {
      background: #505050;
      color: #C3C3C3;
      font-size: 1.4em;
      padding: 0 0 0 0.4em;
      border: 1px solid #505050;
      width: 180px;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      /* line 64, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
      .search .search-block-form .container-inline .form-item input ::placeholder {
        color: #C3C3C3; }
      /* line 67, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
      .search .search-block-form .container-inline .form-item input:focus {
        width: 250px;
        border: 1px solid #C3C3C3;
        color: #3A3A3A;
        background: #FFFFFF; }
        /* line 72, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
        .search .search-block-form .container-inline .form-item input:focus ::placeholder {
          color: #505050; }
    /* line 77, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form .container-inline .form-item label {
      display: none; }
    /* line 81, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form .container-inline .form-actions {
      padding: 0;
      width: 40px;
      z-index: 2;
      vertical-align: top; }
      /* line 86, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
      .search .search-block-form .container-inline .form-actions input,
      .search .search-block-form .container-inline .form-actions input.form-submit {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        text-indent: 200%;
        padding: 0;
        height: 37px;
        width: 100%;
        background: url("../images/search.png"), #101010;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 20px 20px; }
    /* line 99, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form .container-inline .form-submit {
      background: url("../images/search.png"), #101010;
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;
      padding: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      height: 37px;
      text-indent: 200%;
      width: 35px;
      background-size: 20px 20px;
      vertical-align: top; }

@media (min-width: 768px) {
  /* line 116, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
  .search {
    margin: 0; }
    /* line 118, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_search.scss */
    .search .search-block-form {
      padding: 0.5em 0 0.8em 0; } }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
.l-branding {
  padding: 1rem 1rem 0 1rem; }
  /* line 3, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
  .l-branding a {
    border-bottom: none; }
  /* line 7, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
  .l-branding .site-logo img {
    width: 150px; }
  /* line 12, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
  .l-branding .site-heading h1 {
    font-size: 3em; }
  /* line 15, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
  .l-branding .site-heading .site-slogan {
    color: #505050; }

@media (min-width: 768px) {
  /* line 21, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
  .l-branding {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto; }
    /* line 28, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
    .l-branding .site-logo {
      flex: 1 0 auto; }
    /* line 31, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
    .l-branding .site-heading {
      flex: 2 0 auto;
      text-align: left;
      margin-left: 1rem; }
      /* line 35, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
      .l-branding .site-heading h1 {
        padding: 0;
        font-size: 3.5em; }
      /* line 39, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_branding.scss */
      .l-branding .site-heading .site-slogan {
        text-align: left; } }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
.navigation-wrapper {
  width: 100%;
  background: #3A3A3A; }
  /* line 4, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
  .navigation-wrapper .main-navigation {
    height: auto;
    text-transform: uppercase; }
    /* line 7, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
    .navigation-wrapper .main-navigation .l-region {
      height: 100%; }
      /* line 10, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
      .navigation-wrapper .main-navigation .l-region .main-menu {
        padding: 0 1rem;
        margin: 0 auto;
        height: 100%; }
        /* line 14, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
        .navigation-wrapper .main-navigation .l-region .main-menu ul.menu {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          padding-left: 0;
          height: 100%; }
          /* line 23, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
          .navigation-wrapper .main-navigation .l-region .main-menu ul.menu li {
            list-style-type: none;
            list-style-image: none;
            height: 100%;
            margin: 0;
            position: relative;
            flex: 1 1 auto; }
            /* line 30, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
            .navigation-wrapper .main-navigation .l-region .main-menu ul.menu li a {
              color: #FFFFFF;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              height: 100%;
              border-bottom: none;
              padding: 1rem 1rem; }
              /* line 40, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
              .navigation-wrapper .main-navigation .l-region .main-menu ul.menu li a:hover {
                background-color: #C3C3C3;
                color: #101010;
                cursor: pointer; }
                /* line 44, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
                .navigation-wrapper .main-navigation .l-region .main-menu ul.menu li a:hover .sf-sub-indicator {
                  background-image: url(../images/arrows-101010.png); }
            /* line 50, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
            .navigation-wrapper .main-navigation .l-region .main-menu ul.menu li a > .sf-sub-indicator, .navigation-wrapper .main-navigation .l-region .main-menu ul.menu li span.nolink > .sf-sub-indicator {
              top: 1.5em; }
        /* line 58, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
        .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu ul {
          background-color: #3A3A3A; }
        /* line 61, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
        .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu li:hover > ul, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu li.sfHover > ul {
          top: 4em; }
          /* line 64, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
          .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu li:hover > ul a, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu li.sfHover > ul a {
            text-align: left; }
        /* line 69, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
        .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-horizontal.sf-shadow ul, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-vertical.sf-shadow ul, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-navbar.sf-shadow ul ul {
          background: #3A3A3A;
          border-radius: 0;
          padding: 0 !important; }
          /* line 74, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
          .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-horizontal.sf-shadow ul li, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-vertical.sf-shadow ul li, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-navbar.sf-shadow ul ul li {
            border-bottom: 1px solid #505050; }
            /* line 76, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
            .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-horizontal.sf-shadow ul li.last, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-vertical.sf-shadow ul li.last, .navigation-wrapper .main-navigation .l-region .main-menu .sf-menu.sf-navbar.sf-shadow ul ul li.last {
              border-bottom: none; }

/* line 87, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
.mean-container .mean-bar {
  background-color: #101010;
  padding: 4px 0 0; }
  /* line 90, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
  .mean-container .mean-bar a {
    border-bottom: none; }
  /* line 93, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
  .mean-container .mean-bar .mean-nav {
    background-color: #101010; }
    /* line 96, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
    .mean-container .mean-bar .mean-nav ul li {
      margin: 0; }
      /* line 98, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
      .mean-container .mean-bar .mean-nav ul li a {
        border-top: 1px solid #3A3A3A;
        width: 96%;
        padding: 0.5em 2%; }
      /* line 103, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
      .mean-container .mean-bar .mean-nav ul li a.mean-expand {
        width: 14px;
        height: 14px;
        border-left: 1px solid #3A3A3A !important;
        border-bottom: 1px solid #3A3A3A !important;
        line-height: 12px; }
      /* line 111, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
      .mean-container .mean-bar .mean-nav ul li li a {
        width: 92%;
        padding: 0.5em 4%; }
      /* line 116, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
      .mean-container .mean-bar .mean-nav ul li li li a {
        width: 88%;
        padding: 0.5em 6%; }

@media (min-width: 768px) {
  /* line 130, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
  .navigation-wrapper .main-navigation {
    max-width: 960px;
    margin: 0 auto; }
    /* line 135, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_main-menu.scss */
    .navigation-wrapper .main-navigation .l-region .main-menu ul.menu {
      flex-wrap: nowrap; } }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
.l-content {
  margin: 1rem 1rem; }
  /* line 3, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content .date, .l-content .date-display-range {
    text-transform: uppercase; }
  /* line 6, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content .messages {
    display: none; }
  /* line 9, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content .location {
    font-size: 1.3em; }
    /* line 11, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
    .l-content .location .map-link {
      font-size: 1em; }
  /* line 17, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content .classes-content .right .class-news {
    background-color: #f0f0f0;
    border: 1px solid #C3C3C3;
    padding: 1rem 1rem;
    margin-bottom: 1rem; }
  /* line 26, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content .view-calendar ul {
    list-style-type: none; }
    /* line 28, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
    .l-content .view-calendar ul a {
      margin: 0 10px; }
  /* line 34, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content .view-events .view-footer {
    text-align: right; }
  /* line 38, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content a {
    font-weight: 600; }
  /* line 41, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content .alert-box {
    background-color: #f0f0f0;
    border: 1px solid #C3C3C3;
    padding: 1rem 1rem;
    text-align: center; }

@media (min-width: 768px) {
  /* line 49, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 1rem; }
    /* line 53, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
    .l-content .classes-content {
      display: flex; }
      /* line 55, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
      .l-content .classes-content .left {
        width: 60%;
        margin-right: 1rem; }
      /* line 59, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
      .l-content .classes-content .right {
        width: 40%; } }

@media (min-width: 960px) {
  /* line 66, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_content.scss */
  .l-content {
    padding: 1rem 0; } }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
.footer-wrapper {
  width: 100%;
  background: #3A3A3A;
  color: #FFFFFF;
  font-size: 0.8em; }
  /* line 6, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
  .footer-wrapper .l-footer {
    padding: 1rem 1rem; }
    /* line 8, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
    .footer-wrapper .l-footer p {
      margin: 0; }
    /* line 11, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
    .footer-wrapper .l-footer .l-region--footer {
      display: flex;
      align-items: center;
      flex-direction: column-reverse; }
      /* line 16, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
      .footer-wrapper .l-footer .l-region--footer .copyright {
        display: block;
        color: #C3C3C3; }
      /* line 20, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
      .footer-wrapper .l-footer .l-region--footer .footer-menu {
        text-align: center;
        font-size: 1.1em; }
        /* line 23, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
        .footer-wrapper .l-footer .l-region--footer .footer-menu ul {
          padding: 0;
          margin: 0; }
          /* line 26, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
          .footer-wrapper .l-footer .l-region--footer .footer-menu ul li {
            list-style-image: none;
            list-style-type: none;
            display: inline; }
            /* line 30, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
            .footer-wrapper .l-footer .l-region--footer .footer-menu ul li a {
              color: #FFFFFF;
              border-bottom: none; }
              /* line 33, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
              .footer-wrapper .l-footer .l-region--footer .footer-menu ul li a:hover, .footer-wrapper .l-footer .l-region--footer .footer-menu ul li a:focus {
                border-bottom: 1px dotted #FFFFFF; }
            /* line 37, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
            .footer-wrapper .l-footer .l-region--footer .footer-menu ul li:after {
              content: '\000B7';
              color: #505050;
              padding: 0 1rem; }
            /* line 42, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_footer.scss */
            .footer-wrapper .l-footer .l-region--footer .footer-menu ul li.last:after {
              content: '';
              padding: 0; }

/* line 2, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
.front h2, .front p {
  text-align: center; }

/* line 5, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
.front .home-content {
  width: 70%;
  margin: 0 auto; }

/* line 9, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
.front .home-content-section {
  padding-top: 1rem; }
  /* line 11, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
  .front .home-content-section .pane-title {
    text-transform: uppercase; }

/* line 15, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
.front .grey-box {
  background-color: #f0f0f0;
  border: 1px solid #C3C3C3;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem; }
  /* line 20, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
  .front .grey-box.news {
    margin-top: 1rem; }
  /* line 24, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
  .front .grey-box.classes p {
    text-align: center; }
  /* line 29, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
  .front .grey-box.news .views-row, .front .grey-box.events .views-row {
    display: flex; }
    /* line 31, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
    .front .grey-box.news .views-row p, .front .grey-box.events .views-row p {
      width: 70%; }
      /* line 33, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
      .front .grey-box.news .views-row p.date, .front .grey-box.events .views-row p.date {
        width: 35%;
        padding-right: 10px; }
  /* line 39, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
  .front .grey-box.news .more-link, .front .grey-box.events .more-link {
    font-size: 1.4em; }
  /* line 43, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
  .front .grey-box p {
    text-align: left; }

@media (min-width: 768px) {
  /* line 49, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
  .info-boxes {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-top: 1rem; }
    /* line 55, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
    .info-boxes .left, .info-boxes .middle, .info-boxes .right {
      flex: 1 0 auto;
      width: 32%;
      display: flex;
      align-content: stretch;
      justify-content: space-between; }
      /* line 61, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
      .info-boxes .left .grey-box, .info-boxes .middle .grey-box, .info-boxes .right .grey-box {
        padding-top: 1rem;
        width: 100%;
        margin-right: 1rem; }
        /* line 65, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
        .info-boxes .left .grey-box.news, .info-boxes .middle .grey-box.news, .info-boxes .right .grey-box.news {
          margin-top: 0; }
        /* line 68, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_home.scss */
        .info-boxes .left .grey-box.classes, .info-boxes .middle .grey-box.classes, .info-boxes .right .grey-box.classes {
          margin-right: 0; } }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_slider.scss */
.slideshow {
  position: relative; }
  /* line 3, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_slider.scss */
  .slideshow img {
    width: 100%;
    height: auto; }
  /* line 7, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_slider.scss */
  .slideshow .views-slideshow-controls-top {
    display: none;
    visibility: hidden; }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
.sponsors {
  border-top: 1px solid #C3C3C3;
  margin-top: 1rem; }
  /* line 4, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
  .sponsors .view-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem; }
    /* line 9, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
    .sponsors .view-content a {
      border-bottom: 0; }
    /* line 12, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
    .sponsors .view-content img {
      height: auto;
      width: 100%;
      max-width: 150px; }
    /* line 17, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
    .sponsors .view-content .views-row {
      text-align: center;
      width: 30%; }
    /* line 21, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
    .sponsors .view-content .views-row-1 {
      margin-right: 1rem; }
    /* line 24, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
    .sponsors .view-content .views-row-2 {
      order: 3;
      margin-left: 1rem; }
    /* line 28, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
    .sponsors .view-content .views-row-3 {
      order: 2; }

/* line 34, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
.view-sponsors .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  /* line 38, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_sponsors.scss */
  .view-sponsors .view-content .majorsponsor-Yes {
    text-align: center; }

/* line 1, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_breadcrumbs.scss */
.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0; }
  /* line 5, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_breadcrumbs.scss */
  .breadcrumb li {
    display: inline; }
    /* line 7, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_breadcrumbs.scss */
    .breadcrumb li:after {
      content: '>';
      padding: 0 1rem; }
    /* line 11, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_breadcrumbs.scss */
    .breadcrumb li:last-child:after {
      content: ''; }
    /* line 14, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_breadcrumbs.scss */
    .breadcrumb li a {
      font-weight: 400; }

/* line 3, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_form.scss */
.section-contact .l-content label, .page-search .l-content label {
  font-size: 1.4em;
  margin-bottom: 0.5rem; }

/* line 7, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_form.scss */
.section-contact .l-content input[type='text'], .section-contact .l-content input[type='email'], .page-search .l-content input[type='text'], .page-search .l-content input[type='email'] {
  border: 1px solid #F0F0F0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 0 0.625em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  padding: 0.41667em;
  transition: border-color 150ms ease;
  width: 100%; }

/* line 21, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_form.scss */
.section-contact .l-content input[type='submit'], .page-search .l-content input[type='submit'] {
  padding: 0.5rem 1rem;
  background-color: #505050;
  color: #FFFFFF;
  clear: both;
  margin-top: 1rem;
  font-size: 1.6em;
  font-weight: normal;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0; }

/* line 2, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_gallery.scss */
.page-about-gallery label {
  font-size: 1.4em; }

/* line 5, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_gallery.scss */
.page-about-gallery .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  /* line 9, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_gallery.scss */
  .page-about-gallery .view-content > div {
    width: 49%; }
    /* line 11, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_gallery.scss */
    .page-about-gallery .view-content > div img {
      width: 100%;
      height: auto; }

@media (min-width: 768px) {
  /* line 21, Users/dvauser/Sites/themes/deanne_calisthenics/sass/components/_gallery.scss */
  .page-about-gallery .view-content > div {
    width: 30%; } }
