.l-branding {
	padding: $vert-spacing-unit $horz-spacing-unit 0 $horz-spacing-unit;
	a {
		border-bottom: none;
	}
	.site-logo {
		img {
			width: 200px;
		}
	}
	.site-slogan {
		color: $mid-grey;
	}
}
@include breakpoint(tablet) {
	.l-branding {
		padding: $vert-spacing-unit $horz-spacing-unit;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 960px;
		margin: 0 auto;
		.site-logo {
			flex: 1 0 auto;
		}
		.site-heading {
			flex: 2 0 auto;
			text-align: left;
			margin-left: $horz-spacing-unit;
			h1 {
				padding: 0;
				font-size: $base-font-size * 3.8;
			}
			.site-slogan {
				text-align: left;
			}
		}
	}
}