body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 10px !important;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 400;
}
header h1 {
  text-transform: uppercase;
  @include padding(null $horz-white-spacing-unit);
}
h1 {
  margin-bottom: 0;
  font-size: $base-font-size * 3.8;
}
h2 {
  font-size: $base-font-size * 2.6;
}
h3 {
  font-size: $base-font-size * 2;
  font-weight: 600;
}
h4 {
  font-size: $base-font-size * 1.8;
}
h5 {
  font-size: $base-font-size * 1.5;

}
h6 {
  font-size: $base-font-size * 1.5;
  font-weight: 600;
}
p, li {
    font-size: $base-font-size * 1.4;
    margin: 0 0 $small-spacing;
    line-height: $base-font-size * 1.75;
    li {
      font-size: $base-font-size;
    }
  }
  ul, ol {
    list-style: outside square;
    padding-left: $base-font-size * 3;
    ul, ol {
      list-style: outside disc;
      ul, ol {
        list-style: outside circle;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
      }
    }
  }
  a {
    color: $base-font-color;
    text-decoration: none;
    border-bottom: 1px dotted $base-font-color;
    &:active,
    &:focus,
    &:hover {
      color: $action-color;
      border-bottom: 1px dotted $gold;
    }
  }


hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $vert-spacing-unit 0;
  clear: both;
}

table {
  margin: $vert-spacing-unit 0;
  border: 1px solid $dark-grey;
  th {
    padding: $vert-spacing-unit /2 $horz-spacing-unit /2;
    background-color: $light-grey;
    font-size: $base-font-size * 1.4;
    text-align: center;
    border: 1px solid $light-grey;
  }
  td {
    padding: $vert-spacing-unit /2 $horz-spacing-unit /2;
    font-size: $base-font-size * 1.4;
    border: 1px solid $light-grey;
  }
}
strong {
	font-weight: 700;
}
:focus {
  outline-color: $gold;
}
.lower {
  text-transform: lowercase;
}
